@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);


body {
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(150deg, rgb(48, 60, 172) 29%, rgb(36, 11, 103) 100%);
  a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;

  }
}

header {

  position: relative;
  height: 100vh; width: 99vw;
  padding: 0;
  overflow: hidden;

  #header {
    position: absolute;
    margin: 10px  auto auto auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1 {
    font-size: 96px;
    text-shadow: rgba(0, 0, 0, 0.16) 9px 10px 9px;
  }

  p {
    font-size: 29px;
    text-shadow: rgba(0, 0, 0, 0.16) 9px 10px 9px;
  }
}

#about{
  height: 85vh;
  h2{
    text-align: center;
    font-size: 70px;
    margin: 0 auto 20px auto;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    width: 700px;
  }
  p{
    text-align: center;
    font-size: 27px;
    margin-bottom: 5px;
  }
}

#project{
  height: 85vh;
  h2{
    text-align: center;
    font-size: 70px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    width: 700px;
  }
  ul{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
    li {
      width: 300px;
      float: left;
      padding-top: 140px;
      text-align: center;
      margin-right: 10px;
    }
  }

  #project-1{
    background: url("ressources/deltacorp.png") no-repeat top center;
  }

  #project-2{
    background: url("ressources/necrozia.png") no-repeat top center;
  }

  #project-3 {
    background: url("ressources/TewnBot.PNG") no-repeat top center;
  }
}

#contact{
  margin-bottom: 300px;
  h2{
    text-align: center;
    font-size: 70px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    width: 700px;
  }
  ul{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
    li {
      width: 300px;
      float: left;
      padding-top: 140px;
      text-align: center;
      margin-right: 10px;
    }
  }

  #discord{
    background: url("ressources/discord.png") no-repeat top center;
  }

  #twitter{
    background: url("ressources/twitter.png") no-repeat top center;
  }

  #github {
    background: url("ressources/github.PNG") no-repeat top center;
  }
}

footer{
  #footer{
    text-align: center;
    font-size: 70px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    width: 1110px;
  }
  p{
    text-align: center;
  }
}

button {
  background-color: #72A0C1;
  border-radius:20px;
  border: 1px solid #4e88b1;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  padding:16px 31px;
  text-decoration:none;
  transition-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.16) 9px 10px 9px;

  &:hover {
    background-color: #3e6d8e;
    border: 1px solid #2f506a;
  }
}